<%- include('../partials/header') %>

<body>
 
    <h1 style="text-align: center; margin-top: 20px;">My Orders</h1>
 

    <% if (orderDetails.length === 0) { %>
        <p>You have no orders yet.</p>
    <% } else { %>
        <table style="border-collapse: collapse; width: 100%; border: 2px solid black;">
            <thead>
                <tr>
                    <th style="border: 2px solid black; padding: 8px;">Order ID</th>
                    <th style="border: 2px solid black; padding: 8px;">Products</th>
                    <th style="border: 2px solid black; padding: 8px;">Total Amount</th>
                    <th style="border: 2px solid black; padding: 8px;">Date</th>
                    <th style="border: 2px solid black; padding: 8px;">Status</th>
                </tr>
            </thead>
            <tbody>
                <% orderDetails.forEach(order => { %>
                    <tr>
                        <td style="border: 2px solid black; padding: 8px;"><%= order.orderId %></td>
                        <td style="border: 2px solid black; padding: 8px;">
                            <ul>
                                <% order.products.forEach(product => { %>
                                    <li>
                                        <img src="<%= product.image %>" alt="<%= product.name %>" style="width: 50px; height: auto;"/>

                                        <%= product.name %> (x<%= product.quantity %>) - $<%= product.price %>
                                    </li>
                                <% }) %>
                            </ul>
                        </td>
                        <td style="border: 2px solid black; padding: 8px;">$<%= order.totalAmount %></td>
                        <td style="border: 2px solid black; padding: 8px;"><%= new Date(order.date).toLocaleDateString() %></td>
                        <td style="border: 2px solid black; padding: 8px;"><%= order.status %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>

    <a href="/shop">Continue Shopping</a>
</body>
</html>


